name: Generate + Publish Bundles

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # On main, deploy one at a time and do not interrupt
  cancel-in-progress: ${{ !(github.repository == 'wpilibsuite/vendor-json-repo' && github.ref == 'refs/heads/main')}}

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python generate_bundles.py -o bundles 2024 2025beta 2025
      - uses: actions/upload-artifact@v4
        with:
          name: bundles
          path: bundles
          retention-days: 1

  publish:
    if: github.repository == 'wpilibsuite/vendor-json-repo' && github.ref == 'refs/heads/main'
    needs: [generate]
    runs-on: ubuntu-latest
    steps:
      - uses: jfrog/setup-jfrog-cli@v4
        with:
          disable-auto-build-publish: true
        env:
          JF_ENV_1: ${{ secrets.ARTIFACTORY_CLI_SECRET }}
      - uses: actions/download-artifact@v4
        with:
          name: bundles
          path: bundles
      - run: jf rt upload "bundles/(*)" "vendordeps/vendordep-marketplace/{1}"  --sync-deletes "vendordeps/vendordep-marketplace/" --quiet
