# This workflow runs the JSON checker on each vendordep JSON file.

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "run-json-checker"
  run-json-checker:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Get the ubuntu-base docker image
    container: wpilib/ubuntu-base:18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Installs dependencies
    - name: Install dependencies
      run: sudo pip3 install pyelftools pefile

    # Runs check
    - name: Run check
      run: |
        ./check.py **/*.json
